/* About SCSS */
body.dark figcaption {
    color: $dark-cont;
}

.emailCraftianos {
    width: 70%;
    height: 30%;
}

.iconPeoople {
    width: 12%;
    height: 12%;
}

/* Padding to Icons */
.figure > h2 > svg {
    padding-right: 0.2em;
}

/* .email-contacto {
    background: #2a9d8f;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
} */