body.dark figcaption {
    color: $dark-cont;
}

.iconPeoople {
    width: 12%;
    height: 12%;
}

/* .email-contacto {
    background: #2a9d8f;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
} */