.enlaces li {
    padding-top: .5%;
}

.enlaces li a {
    color: $secondary !important;
    text-decoration: none;

    &:hover, &:active {
        color: $success !important;
    }
}

.bannerVerse img {
    content: url('../../assets/img/verse/banner.png');
}