.encuestas {
    list-style: '📙 ';
}

.enlaces {
    li {
        padding-top: .5%;
    }
    
    a {
        color: $secondary !important;
        text-decoration: none;
    
        &:hover, &:active {
            color: $success !important;
        }
    }
/* 
    .bg-dark {
        background: $dark-mode !important;
    } */
}


/* Styles Predifine - li */
.cashback {
    list-style: '💸 ';
}

.bancos-online {
    list-style: '🏦 ';
}

.dinero-nada {
    list-style: '🤯 ';
}

.list-custom {
    list-style: '🚀 ';
}

.bannerVerse img {
    content: url('../../assets/img/verse/banner.png');
}