/* ScrollBar SCSS */
body::-webkit-scrollbar {
    width: 0.6em;
}

body::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
    border-right: 2px solid $primary;
}

/* Button GoUp to the page */
.go-up {
    background: $primary;
    border: 0;
    border-radius: 60%;
    bottom: 20px;
    cursor: pointer;
    float: right;
    height: 65px;
    margin-top: -4%;
    padding: 15px;
    position: fixed;
    right: 20px;
    width: 50px;
}

.go-up img {
    margin-top: 20%
}