body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 10px;
    border-right: 2px solid $secondary;
}

.go-up {
    float: right;
    display: none;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 60%;
    background: $secondary;
    margin-top: -5%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px
}

.go-up img {
    margin-top: 20%
}