.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: 0
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2)
}

.switch.active {
    background: orange;
    color: #000
}

.switch.active::after {
    right: 0;
    left: unset
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: 0 0;
    color: #fff
}