body {
    background-color: #f2f2f2;
    margin: auto
}

body::-webkit-scrollbar {
    width: 12px
}

body::-webkit-scrollbar-thumb {
    background: #4f997e;
    border-radius: 10px;
    border-right: 2px solid #4f997e
}

body.dark {
    background: #343a40
}

body.dark nav a {
    color: #c8c8c8
}

body.dark nav a:hover {
    color: #fefefe
}

body.dark .dropdown-menu {
    background-color: #343a40;
    border: 0;
    color: #e8ffe8
}

body.dark .dropdown-menu>a {
    background-color: #343a40
}

.header {
    font-family: Roboto
}

#menu a {
    padding-left: 20px
}

.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: 0
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2)
}

.switch.active {
    background: #f4a261;
    color: #000
}

.switch.active::after {
    right: 0;
    left: unset
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: 0 0;
    color: #fff
}

.article {
    font-family: Karla
}

.card {
    width: 100%;
    margin-bottom: 10px
}

.imgCraftianos {
    content: url('../img/craftianosmoney.webp');
    width: 100%;
    height: 100%;
}

@media (min-width:768px) {
    .card {
        width: 100%;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px
    }
}

@media (min-width:992px) {
    .card {
        width: 70%;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px
    }
}

.span {
    color: #e8ffe8
}

body.dark .text-article {
    background-color: #343a40;
    border: 0;
    color: #e8ffe8
}

body.dark .card {
    background-color: #343a40;
    border: 0;
    color: #e8ffe8
}

.footer {
    font-family: Roboto;
    justify-content: center;
    text-align: center
}

.enlacesfooter > li > a {
    color: rgba(255, 255, 255, .5)
}

.enlacesfooter > li > a:hover {
    color: #4f997e
}

.go-up {
    float: right;
    display: none;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 60%;
    /* background: #2c4454; */
    background: #4f997e;
    margin-top: -5%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px
}

.go-up img {
    margin-top: 20%
}