body {
    background-color: #f2f2f2;
    margin: auto
}

body::-webkit-scrollbar {
    width: 12px
}

body::-webkit-scrollbar-thumb {
    background: #4f997e;
    border-radius: 10px;
    border-right: 2px solid #4f997e;
}

body.dark {
    background: #343a40;
}

body.dark nav a {
    color: #c8c8c8;
}

body.dark nav a:hover {
    color: #fefefe;
}

body.dark .dropdown-menu {
    background-color: #343a40;
    border: 0;
    color: #e8ffe8;
}

body.dark .dropdown-menu > a {
    background-color: #343a40;
}

.header {
    font-family: Roboto;
}

#menu a {
    padding-left: 20px;
}

.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: 0;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2)
}

.switch.active {
    background: orange;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: 0 0;
    color: #fff
}

.article {
    font-family: Karla;
}

body.dark .article {
    background: #343a40;
}

body.dark .article h3 {
    color: orange;
}

body.dark .article p {
    color: #e8ffe8;
}

body.dark .article mark {
    background-color: orange;
}

body.dark .article ol {
    color: orange;
}

body.dark .text-article {
    background-color: #343a40;
    border: 0;
    color: #e8ffe8;
}

body.dark .card {
    background-color: #1b1b1b5e;
    color: #e8ffe8;
    border-radius: .25rem
}

body.dark ul {
    color: #e8ffe8;
}

@media (max-width: 767px) {
    .card {
        margin-top: 2%
    }

    .motivos {
        display: none
    }

    .imgLety {
        width: 75% !important
    }
}

ul > li, ol > li {
    padding-top: .5%
}

.otras-plataformas > li {
    padding-top: 1.9%
}

.enlaces > li {
    padding-top: .5%
}

.informacion {
    list-style: none
}

.bonificacionesIsay {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.footer {
    font-family: Roboto;
    justify-content: center;
    text-align: center;
    color: #e8ffe8;
}

.enlacesfooter > li > a {
    color: rgba(255, 255, 255, .5);
}

.enlacesfooter > li > a:hover {
    color: #4f997e;
}

.go-up {
    float: right;
    display: none;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 60%;
    /* background: #2c4454; */
    background: #4f997e;
    margin-top: -5%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px
}

.go-up img {
    margin-top: 20%
}