// Body styles
body {
    background-color: $primary;
    margin: auto;
}

// Set Fonts
.header {
    font-family: Roboto, sans-serif;
    background: $dark-mode;
}

#menu a {
    padding-left: 20px;
}

.article {
    font-family: Karla;
    
    .btn-outline-success {
        color: $secondary !important;
        border-color: $secondary !important;
        text-decoration: none;
        
        &:hover, &:active {
            background: $success-hover !important;
            color: $primary !important;
        }
    }
}

.footer {
    background: $dark-mode;
    color: $dark-cont;
    font-family: Roboto;
    
    .enlacesfooter a {
        color: $footerLnk !important;
        
        &:hover {
            color: $success-hover !important;
        }
    }
}

.text-success {
    color: $secondary !important;
}