// Body styles
body {
    background-color: $primary;
    margin: auto
}

// Set Fonts
.header {
    font-family: Roboto, sans-serif;
}

#menu a {
    padding-left: 20px;
}

.article {
    font-family: Karla;

    a {
        color: $success !important;
        text-decoration: none;

        &:hover, &:active {
            color: $primary !important;
            background-color: $secondary !important;
        }
    }
}

.footer {
    font-family: Roboto;
    color: $dark-cont;

    .enlacesfooter a {
        color: $footerLnk !important;

        &:hover {
            color: $success !important;
        }
    }
}