// Colors
$primary: #f2f2f2;
$secondary: #4baf8a;
$success: #4f997e;
$success-hover: #618b7c;

$dark-mode: #343a40;
$dark-cont: #e8ffe8;
$dark-btn: #343d5b;
/* ***** */
$dark-btn_hover: rgba(255,255,255,.5);
$dark-card: #1b1b1b5e;

$footerLnk: rgba(255,255,255,.5);